.login-text{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.form-design{
    width: 50%;
    margin: auto;
    background: rgb(19, 19, 82);
    padding: 4rem;
    border-radius: 1rem;
    opacity: 0.9;
}

.form-group{
    margin-bottom: 1rem;
}

label{
    color: azure;
}

@media screen and (max-width: 992px) {
    .form-design{
        margin-top: 5rem;
        width: 90%;
    }
  }
@media screen and (max-width: 600px) {
    .form-design{
        margin-top: 0;
    }
  }