body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to right, #787272, #8a7979 , #776969 ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  background-image: url("./images/water.jpg");
  background-size: cover;
  min-height: 100vh;
}
.align-images {
  margin: 0 auto;
}

.cart-width{
  width: 63%;
}

@media screen and (max-width: 1000px) {
  .cart-image {
    width: 37%;
    height: auto;
  }
  .cart-width{
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .cart-image {
    width: 37%;
    height: auto;
  }
  
}
